@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;
  }
  
  html {
    @apply dark;
  }
  
  body {
    @apply bg-dark-bg text-dark-text;
  }
  
  input, textarea, select {
    @apply transition-all duration-200 bg-dark-card border-dark-border text-dark-text;
  }
  
  button {
    @apply transition-all duration-200;
  }
}
